.env*
.env*.json
node_modules
*~
site/
#extension.xpi
extension_source.zip
*.pem
#*.crx
maxurl.zip
*.pub
*.sig
build/tsout.js
standalone_config.json
imu-fixed-extension/
imu-fixed/tmp_pkg/
imu-fixed/tmp_pkg.crx
imu-fixed/tmp_profile/
Temp/
